<h1>Møter</h1>

  <tbody>
	  <table>
    <% @meetings.each do |meeting| %>
      <tr>
        <td><%= meeting.meet_date %> <%= link_to meeting.name, meeting %></td>
      </tr>
    <% end %>
</table>
  </tbody>
</table>

<br>

<%= link_to 'Nytt møte', new_meeting_path %>
