<h1>Møter</h1>

<% @meetings.each do |meeting| %>
<div class="box col-md-4 column" align="middle">
	<%= link_to image_tag(meeting.img_1, width: '100%'), meeting %><br/>
	<%= link_to meeting.name, meeting %><br/>
	<%= meeting.meet_date.strftime("%d.%m.%Y") %>
</div>

<% end %>

  
<br>

<%= link_to 'Nytt møte', new_meeting_path %>
