<h1>Oppdater oppskriften</h1>

	<div class="row clearfix">
		<div class="col-md-4 column">
			<%= render 're_ins/form' %>
		</div>
		<div class="col-md-8 column">
			<%= render 'form' %>
		</div>
	</div>

