<h1>Oppskrifter</h1>

<table>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= link_to recipe.title, recipe %></td>      
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ny oppskrift', new_recipe_path %>
