  <strong><%= recipe_ingredient.title %></strong>
  <ul>
  <% recipe_ingredient.re_ins.each do |rein| %>
  <%
	if rein.amount && rein.amount > 1 && rein.ingredient.plural
		ingredient_name = rein.ingredient.plural
	else
		ingredient_name = rein.ingredient.name
	end
  %>
  <li><%= rein.amount %> <%=rein.unit%> <%= ingredient_name %></li>
    
<% end %>
</ul><br/>