<h1>Rett</h1>

<table>

  <tbody>
    <% @meals.each do |meal| %>
      <tr>
        <td><%= link_to meal.title, meal %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ny rett', new_meal_path %>
