<h1>Møter</h1>

<table>

  <tbody>
    <% @meals.each do |meal| %>
      <tr>
        <td><%= meal.meet_date %> <%= link_to meal.title, meal %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nytt møte', new_meal_path %>
