<div class="row">
    <div class="col-md-11 col-md-offset-1 column">
        <h1>Ny rett</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-11 col-md-offset-1 column">
        <%= render 'form' %>
    </div>
</div>