/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require_self
 *= require_tree .
 */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('../assets/glyphicons-halflings-regular.woff') format('woff'),
       url('../assets/glyphicons-halflings-regular.ttf') format('truetype'),
       url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.body {
    position: relative;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999
}

.navbar {
    margin-bottom: 0px;
}

.affix + .container-fluid {
    padding-top: 70px;
}

.logo {float:left;width:200px;padding-left:30px;}

body {
        padding-top: 0px;
        padding-bottom: 40px;
		background:url(background-1.png) 70% 0 no-repeat
      }
.nav li {
	  	padding-top: 5px;
	  }
	  
.sidebar-nav {
        padding: 9px 0;
      }
	  .leaderboard {
  padding: 60px;
  margin-bottom: 30px;
  background-image: url('/twitter-bootstrap/images/gridbg.gif');
  background-repeat:repeat;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.leaderboard h1 {
  font-size: 40px;
  margin-bottom: 5px;
  line-height: 1;
  letter-spacing: -1px;
  color:#FF6600;
}
.leaderboard p {
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
}

.well {
background-image: url('/twitter-bootstrap/images/gridbg.gif');
  background-repeat:repeat;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}



/* Design menu: http://work.smarchal.com/twbscolor/css/3c85e72b3dc0ecf0f1ffbbbc0 */

.nav .nav-header {
font-size: 12px;
color:#FF9900;
}
.navbar-nav > li > a, .navbar-brand {
    padding-top:4px !important;
    padding-bottom:0 !important;
    height: 26px;
}
.navbar {min-height:26px !important;}

.navbar-default {
    background-color: #82CAFA;
    border-color: #82CAFA;
}
.navbar-default .navbar-brand {
    color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffbbbc;
}
.navbar-default .navbar-text {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffbbbc;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffbbbc;
    background-color: #2b3dc0;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #ffbbbc;
    background-color: #2b3dc0;
}
.navbar-default .navbar-toggle {
    border-color: #2b3dc0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #2b3dc0;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ecf0f1;
}
.navbar-default .navbar-link {
    color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
    color: #ffbbbc;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffbbbc;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffbbbc;
        background-color: #2b3dc0;
    }
}

#wrapper{position:relative;overflow:hidden}
#wrapper #bg-1{width:100%;background:url(background-1.png) 100% 0 no-repeat;height:798px;position:absolute;left:0;top:0;margin:5% 0 0;border:5px solid red}
#wrapper #bg-2{width:100%;background:url(background-2.png) 75% 0 no-repeat;height:697px;position:absolute;left:0;top:0;margin:5% 0 0;border:5px solid red}
#wrapper #bg-3{width:100%;background:url(background-3.png) 70% 0 no-repeat;height:490px;position:absolute;left:0;top:0;margin:5% 0 0;border:5px solid red}

