/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require_self
 *= require_tree .
 */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
       url('../assets/glyphicons-halflings-regular.woff') format('woff'), 
       url('../assets/glyphicons-halflings-regular.ttf') format('truetype'), 
       url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.logo {float:left;width:200px;padding-left:30px;}

body {
        padding-top: 60px;
        padding-bottom: 40px;		
      }
.nav li {
	  	padding-top: 5px;
	  }
	  
.sidebar-nav {
        padding: 9px 0;
      }
	  .leaderboard {
  padding: 60px;
  margin-bottom: 30px;
  background-image: url('/twitter-bootstrap/images/gridbg.gif');
  background-repeat:repeat;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.leaderboard h1 {
  font-size: 40px;
  margin-bottom: 5px;
  line-height: 1;
  letter-spacing: -1px;
  color:#FF6600;
}
.leaderboard p {
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
}

.well {
background-image: url('/twitter-bootstrap/images/gridbg.gif');
  background-repeat:repeat;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.nav .nav-header {
font-size: 18px;
color:#FF9900;
}

#wrapper{position:relative;overflow:hidden}
#wrapper #bg-1{width:100%;background:url(background-1.png) 55% 0 no-repeat;height:798px;position:absolute;left:0;top:0;margin:5% 0 0}
#wrapper #bg-2{width:100%;background:url(background-2.png) 75% 0 no-repeat;height:697px;position:absolute;left:0;top:0;margin:5% 0 0}
#wrapper #bg-3{width:100%;background:url(background-3.png) 70% 0 no-repeat;height:490px;position:absolute;left:0;top:0;margin:5% 0 0}

